<%= turbo_frame_tag 'table_countries' do %>
  <%= render 'countries/form', country: country %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% countries.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td>
            <%= turbo_frame_tag "table_show_#{country.id}" do %>
              <%= link_to 'Show', country %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_country_path(country) %></td>
          <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
